<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.djpsoft.zap.plugin" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>zap</name>
    <js-module name="zap" src="www/zap.js">
        <clobbers target="cordova.plugins.zap" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="zap">
                <param name="android-package" value="com.djpsoft.zap.plugin.zap" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/zap.java" target-dir="src/com/djpsoft/zap/plugin" />
        <source-file src="src/android/zap_jni.java" target-dir="src/com/djpsoft/zap/plugin" />
        <source-file src="src/android/IntResult.java" target-dir="src/com/djpsoft/zap/plugin" />
        <source-file src="src/android/Tx.java" target-dir="src/com/djpsoft/zap/plugin" />
        <source-file src="src/android/SpendTx.java" target-dir="src/com/djpsoft/zap/plugin" />
        <source-file src="src/android/WavesPaymentRequest.java" target-dir="src/com/djpsoft/zap/plugin" />
        <source-file src="src/android/libs/armeabi-v7a/libzap.so" target-dir="libs/armeabi-v7a" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="zap">
                <param name="ios-package" value="zap" />
            </feature>
        </config-file>
        <source-file src="src/ios/zap.m" />
        <source-file src="src/ios/libs/libzap_combined.a" framework="true" />
    </platform>
</plugin>
